<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rick and Morty</title>
  <link rel="stylesheet" href="inicio.css">
</head>
<body>
  <h1 class="text-center">Rick and Morty</h1>
  <div class="table-container">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Ver más</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let personaje of personajeList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ personaje.name }}</td>
          <td>
            <button class="btn btn-primary" (click)="navegar(personaje.id)">Mas info</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <router-outlet></router-outlet>
</body>
</html>
